@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proje Hakkında Bilgiler</h1>
    <ul>
        <li>
          Bu proje ASP.NET CORE 5.0 ile oluşturulmuştur.
        </li>
        <li>
            MSSQL veritabanı kullanılmıştır. Bağlantı ve sorgular Entity Framework kullanılarak gerçekleştirilmiştir.
        </li>
        <li>
            Bu bir kütüphane projesidir. Books, Authors, Users olmak üzere üç tablodan oluşmuştur.
        </li>
        <li>
            Bu proje katmanlı mimari ile oluşturulmuştur.
        </li>
        <li>
            Projede SOLID prensiplerine uyulmuştur. Generic Repository kullanılmıştır.
        </li>
        <li>
           WebApi için Kullanıcı girişi yapılmaktadır. Postman ile kullanıcı girişi yapılarak WebApi test edilebilir. 
        </li>

        <li>WebApi ile ekleme, silme, güncelleme ve listeleme yapılabilmektedir.</li>
        <li>{UserName:admin, Password:admin} </li>


    </ul>
</div>
